<%- include ('../../partials//header') %>
<%- include ('../../partials/navbar') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Editar artigo</h2>
        </div>
        <div class="card-body">
            <form action="/articles/save" method="POST">
                <input type="text" name="title" placeholder="Defina o titulo do artigo" class="form-control">
                <br>
                <textarea name="body" id="article" cols="30" rows="10" class="form-control" placeholder="Escreva o artigo aqui!"></textarea>
                <br>
                <label for="">Categoria</label>
                <select name="category" id="" class="form-control">
                    <% categories.forEach( (category) => { %>
                        <option value="<%= category.id %>"><%= category.title %></option>
                    <% }) %>
                </select>
                <br>
                <button class="btn btn-success">
                    Atualizar
                </button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer') %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#article',
        plugins: 'advlist autolink link image lists print preview hr searchreplace wordcount fullscren insertdatetime media save table paste emoticons'
    })
</script>