<%- include ('../../partials//header') %>
<%- include ('../../partials/navbar') %>

<div class="container">
    <hr>
    <h2>Artigos</h2>
    <br>
    <a class="btn btn-success" href="/admin/articles/new">
        Criar novo artigo
    </a>
    <hr>
    <table class="table table-bordered">
        <thead> //cabecalho de tabela
            <tr> /linha da tabela
                <th>ID</th> //coluna da tabela
                <th>Título</th>
                <th>Slug</th>
                <th>Category</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(article => { %>
                <tr>
                <th><%= article.id %></th>
                <th><%= article.title %></th>
                <th><%= article.slug %></th>
                <th><%= article.category.title %></th>
                <th>Ações</th>
                <th>
                    <form action="/articles/delete" method="POST" onsubmit="confirmDelete(event, this)">
                        <input type="hidden" name="id" value="<%= article.id %>">
                        <button class="btn btn-danger">Deletar</button>
                        <br>
                        <a class="btn btn-success" href="/admin/articles/edit/<%= article.id %>">
                            Editar artigo
                        </a>

                </th>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>




<%- include ('../../partials/footer') %>

<script>
    function confirmDelete(event, form){
        event.preventDefault() //previne que o formulário seja submetido
        var decision = confirm("Você quer deletar este artigo?")
        if(decision){
            form.submit()
        }
    }
</script>