<%- include ('../../partials//header') %>
<%- include ('../../partials/navbar') %>

<div class="container">
    <hr>
    <h2>Categorias</h2>
    <br>
    <a class="btn btn-success" href="/admin/categories/new">
        Criar nova categoria
    </a>
    <hr>
    <table class="table table-bordered">
        <thead> //cabecalho de tabela
            <tr> /linha da tabela
                <th>ID</th> //coluna da tabela
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <button class="btn btn-warning">Editar</button>
                        <form action="/categories/delete" method="POST" onsubmit="confirmDelete(event, this)">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </th>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>




<%- include ('../../partials/footer') %>

<script>
    function confirmDelete(event, form){
        event.preventDefault() //previne que o formulário seja submetido
        var decision = confirm("Você quer deletar esta categoria?")
        if(decision){
            form.submit()
        }
    }
</script>